<ul class="Breadcrumb">
  <li class="Breadcrumb__item">
    <%= link_to t("home"), root_path, class: "Breadcrumb__item Breadcrumb__item--link" %>
  </li>
  <% breadcrumbs.each do |breadcrumb| %>
    <li class="Breadcrumb__item">
      <%# パンくずリストが最後のパンくずリストではない場合は、リンクである必要がある。%>
      <% if breadcrumb.depth != breadcrumbs.last.depth %>
        <%= link_to t(breadcrumb.name, default: breadcrumb.name), category_path(breadcrumb.id), class: "Breadcrumb__item Breadcrumb__item--link" %>
      <% else %>
        <%= t(breadcrumb.name, default: breadcrumb.name) %>
      <% end %>
    </li>
  <% end %>
</ul>
